apiVersion: v1
kind: Secret
metadata:
  name: pmvd-config
type: Opaque
stringData:
  DB_NAME: db_name
  DB_USERNAME: db_username
  DB_PASSWORD: db_password
  DB_HOST: db_host
  SECRET_KEY: something_random_and_long
