apiVersion: v1
kind: Secret
metadata:
  name: pmvd-config
type: Opaque
stringData:
  DB_NAME: db_name
  DB_USERNAME: db_username
  DB_PASSWORD: db_password
  DB_HOST: db_host
  SECRET_KEY: something_random_and_long
  # S3 storage
  DJANGO_ENABLE_S3: "yes"
  DJANGO_AWS_ACCESS_KEY_ID: "<TODO>"
  DJANGO_AWS_SECRET_ACCESS_KEY: "<TODO>"
  DJANGO_AWS_STORAGE_BUCKET_NAME: "djnd"
  DJANGO_AWS_LOCATION: "pravnamreza"
