{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static infopush %}

{% block body_class %}page page--home{% endblock %}

{% block page_body %}

<div class="row row-purple headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-last order-lg-first">
        {{ page.intro_text|safe }}
      </div>
      <div class="col-lg-5 order-first order-lg-last d-flex align-items-center">
        <!-- <img class="main-logo img-fluid mb-4 mb-lg-0 ml-lg-5" src="{% static 'img/pmvd-ilustracija.png' %}" /> -->
        {% image page.intro_image width-1100 class="img-fluid mb-4 mb-lg-0 ml-lg-5" %}
      </div>
    </div>
  </div>
</div>

<div class="row row-white">
  {% infopush %}
</div>

<div class="row row-white">
  <div class="container">
    <div class="row mb-5">
      <div class="col">
        <div class="archive-title">
          <h1>Novice</h3>
          <h5><a href="/arhiv-novic/" class="archive-link">Arhiv novic >>></a></h5>
        </div>
      </div>
    </div>
    <div class="row">
      {% for novica in novice %}
      <div class="col-4 news-preview">
        <div>
          {% image novica.preview_image width-1100 class="img-fluid" %}
        </div>
        <div>
          <h1 class="news-title">{{ novica.title }}</h1>
          <div class="news-subtitle">
            <span>{{ novica.tag }}</span> | <time>{{ novica.date|date:'d. m. Y' }}</time>
          </div>
        </div>
        <div class="news-desc">
          {{ novica.preview_text|safe }}
          <a class="{{ novica.url }}" href="{{ novica.url }}">VEČ &gt;&gt;&gt;</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row row-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="square">
          <div class="my-4">
            <h3>Sledi nam na</h3>
            <h3>družbenih omrežjih</h3>
          </div>
          <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/pravnamreza/" target="_blank" class="social-media d-flex justify-content-center align-items-center">
                <img src="{% static 'img/social-facebook.png' %}" />
            </a>
            <a href="https://twitter.com/PravnaMreza/" target="_blank" class="social-media d-flex justify-content-center align-items-center">
                <img src="{% static 'img/social-twitter.png' %}" />
            </a>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="square">
          <div class="my-4">
            <h3>Prijavi se na </h3>
            <h3>NAŠE NOVICE</h3>
          </div>
          <form class="m-5 newsletter-form">
            <div class="form-group">
              <input type="email" class="form-control" id="newsletter-email">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="newsletter-terms">
              <label class="form-check-label" for="newsletter-terms">Strinjam se, da mi Danes je nov dan v imenu Pravne mreže za varstvo demokracije občasno pošlje email.</label>
            </div>
            <button type="submit" class="btn newsletter-btn mt-2">PRIJAVI SE &gt;&gt;&gt;</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-light-purple">
  <div class="container">
    <div class="row mb-5">
      <div class="col">
        <div class="archive-title">
          <h1>Pravni blog</h3>
          <h5><a href="/arhiv-blog/" class="archive-link">Vsi zapisi >>></a></h5>
        </div>
      </div>
    </div>
    {% for blogpost in blogposts %}
    <div class="row blog-preview mb-5">
      <div class="col-4">
        {% image blogpost.preview_image width-1100 class="img-fluid" %}
      </div>
      <div class="col-8">
        <a class="blog-title" href="{{ blogpost.url }}"><h1>{{ blogpost.title }}</h1></a>
        {% if blogpost.author %}
        <div class="blog-author">
          <span>{{ blogpost.author }}</time>
        </div>
        {% endif %}
        <div class="blog-subtitle">
          <time>{{ blogpost.date|date:'d. m. Y' }}</time>
        </div>
        <div>
          {{ blogpost.preview_text|safe }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- <div class="row row-purple">
  <div class="container container-narrow">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-center">
        <h2>
          <div class="spaced serif">Poišči</div>
          <div class="spaced">pomoč</div>
        </h2>
      </div>
      <div class="col-lg-8">
        <div class="float-right">
          <a href="/pogosta-vprasanja/" class="square-button ml-1 float-left">
            <div>
              <img src="{% static 'img/faq.png' %}" />
            </div>
            <div>
              <p>Pogosta vprašanja</p>
            </div>
          </a>
          <a href="/pravna-mnenja/" class="square-button ml-1 float-left">
            <div>
              <img src="{% static 'img/mnenja.png' %}" />
            </div>
            <div>
              <p>Pravna<br />mnenja</p>
            </div>
          </a>
          <a href="/arhiv-blog/" class="square-button ml-1 float-left">
            <div>
              <img src="{% static 'img/vzorci.png' %}" />
            </div>
            <div>
              <p>Pravni blog</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row row-white">
  <div class="container container-narrow">
    <div class="row">
      <div class="col-lg-8">
        <div class="mr-lg-5">
          {{ page.description_text|safe }}
        </div>
        <div class="mr-lg-5">
          <a class="btn btn-lg btn-outline-primary mt-4 mb-5 mb-lg-0" href="/o-mrezi/">Več o mreži &gt;&gt;&gt;</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="float-right">
          <a href="/doniraj/" class="square-button mb-3">
            <div>
              <img src="{% static 'img/srce.png' %}" />
            </div>
            <div>
              <h3>Doniraj</h3>
              <p>Prispevaj za pravno mrežo.</p>
            </div>
          </a>
          <a href="/pomagaj/" class="square-button mb-3">
            <div>
              <img src="{% static 'img/pomoc.png' %}" />
            </div>
            <div>
              <h3>Pomagaj</h3>
              <p>Prispevaj pravniško znanje.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row row-light-purple">
  <div class="container container-narrow">
    <div class="row mb-5">
      <div class="col">
        <h3 class="archive-title">Mediji o pravni mreži</h3>
      </div>
    </div>
    {% for objava in pojavljanja %}
    <hr class="short">
    <article class="row news-preview">
      <div class="col-12">
        <div class="ml-lg-4">
          <a class="news-title" href="{{ objava.url }}" target="_blank"><h1>{{ objava.title }}</h1></a>
          <div class="news-subtitle">
            <span>{{ objava.source }}</span> / <time>{{ objava.date|date:'d. m. Y' }}</time>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
    <hr class="short">
    <a href="/medijska-pojavljanja/" class="archive-link">Medijska pojavljanja >>></a>
  </div>
</div>

{% endblock page_body %}
