{% extends "home/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}page page--content{% endblock %}

{% block page_body %}

<div class="container-fluid bg-primary content-page">
    <div class="container">
        <div class="row hero text-light py-5">
            <div class="col-12 col-lg-10 offset-lg-1 text-center text-lg-start">
                <h2>
                    {{ page.title }}
                </h2>
                <p>
                    {{ page.description }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-beige content-page extra-padding h-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                {% for block in page.body %}
                <div class="row mb-5">
                    {% include_block block %}
                </div>
                {% endfor %}
                <div class="row mb-5">
                    <div class="col unsubscribe" style="text-align: center;">
                        <button disabled class="btn subscription">Nalagamo tvoje nastavitve ...</button>
                    </div>
                    <div class="col manage">
                        <div class="footer-col">
                            <h5>Nisi prijavljen_a na e-novičnik. Če želiš, se nanj lahko prijaviš spodaj.</h5>
                            <div class="position-relative go-input mt-3 mb-2">
                                <input type="email" name="email" required class="form-control border-primary" id="managed-email">
                                <button id="submit-managed-email" class="input-btn btn-primary bg-black hover-animation">
                                    <span class="animated"></span>
                                </button>
                                <div class="checkbox d-flex align-items-center my-3">
                                    <label class="confirm-label" style="line-height: 1; padding-left: 25px; font-size: 0.88rem;">
                                        <input type="checkbox" id="confirm-managed-email" />
                                        <span class="custom-checkbox"></span>
                                        {{ settings.home.MetaSettings.newsletter_consent }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-4">
                <div class="box socials">
                    <h2>{{ settings.home.MetaSettings.social_label }}</h2>
                    <div class="d-flex justify-content-center">
                        <a href="{{ settings.home.MetaSettings.facebook }}" target="_blank" class="mt-4 mx-2">
                            <div class="social-circle d-flex justify-content-center align-items-center">
                                <span class="fb-icon"></span>
                            </div>
                        </a>
                        <a href="{{ settings.home.MetaSettings.twitter }}" target="_blank" class="mt-4 mx-2">
                            <div class="social-circle d-flex justify-content-center align-items-center">
                                <span class="twitter-icon"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box newsletter">
                    <form>
                        <h2>{{ settings.home.MetaSettings.newsletter_label }}</h2>
                        <h5>{{ settings.home.MetaSettings.newsletter_sublabel }}</h5>
                        <div class="position-relative search-input mt-4">
                            <input type="email" name="email" required class="form-control border-dark" id="email">
                            <button type="submit" class="input-btn btn-primary hover-animation">
                                <span class="animated"></span>
                            </button>
                        </div>
                        <div id="response"></div>
                        <div class="checkbox d-flex align-items-center my-3">
                            <label>
                                <input type="checkbox" id="confirm-email" />
                                <span class="custom-checkbox"></span>
                                {{ settings.home.MetaSettings.newsletter_consent }}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
<script>
    $(document).ready(function() {
        // delete subscription
        $('.subscription').on('click', function() {
            const reqUrl = `https://podpri.djnd.si/api/segments/obljuba-dela-dolg/contact/?email=${urlParams.get('email')}&token=${urlParams.get('token')}`;
            fetch(reqUrl, {
                method: 'DELETE',
            }).then((response) => {
                return response.json();
            }).then((json) => {
                console.log(json);
            });
        });

        // submit email and subscribe
        $('#submit-managed-email').on('click', function() {
            if ($('#confirm-managed-email').is(':checked')) {
                fetch("https://podpri.djnd.si/api/subscribe/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        email: $('#managed-email').val(),
                        segment: 18,
                    }),
                })
                .then((res) => {
                    if (res.ok) {
                        return res.text();
                    }
                    throw new Error("Response not ok");
                })
                .then((res) => {
                    alert("Na mailu te čakajo navodila za urejanje!");
                })
                .catch((error) => {
                    alert('Ups, nekaj je šlo narobe. Poskusi ponovno.');
                });
            } else {
                $('.confirm-label').css({'color': 'red'});
            }
        });
        const urlParams = new URLSearchParams(document.location.search);
        if (urlParams.has('token') && urlParams.has('email')) {
            $('.manage').hide();
            const endpoint = `https://podpri.djnd.si/api/segments/my?token=${urlParams.get('token')}&email=${urlParams.get('email')}`;
            fetch(endpoint).then((response) => {
                return response.json();
            }).then((json) => {
                if (json.segments.filter((segment) => segment.id === 18).length > 0) {
                    $('.subscription').text('Odjavi se od prejemanja e-novičnika');
                    $('.subscription').removeAttr('disabled');
                } else {
                    $('.unsubscribe').hide();
                    $('.manage').show();
                    $('#managed-email').focus();
                }
            });
        } else {
            $('.unsubscribe').hide();
        }
    });
</script>
{% endblock %}
