{% extends "home/base_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
                <h1>
                    <div class="spaced serif">{{ page.headline_first }}</div>
                    <div class="spaced">{{ page.headline_second }}</div>
                </h1>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-end">
                {% image page.headline_image width-1100 class="img-fluid" %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p>
                    {{ page.description }}
                </p>
                <div class="row mb-5">
                    <div class="col unsubscribe">
                        <button disabled class="btn subscription">Nalagamo tvoje nastavitve ...</button>
                    </div>
                    <div class="col manage">
                        <div class="footer-col">
                            <h5>Nisi prijavljen_a na e-novičnik. Če želiš, se nanj lahko prijaviš spodaj.</h5>
                            <div class="d-flex">
                                <input type="email" name="email" required class="form-control" id="managed-email">
                                <button id="submit-managed-email">PRIJAVI ME</button>
                            </div>
                            <div class="checkbox d-flex align-items-center my-3">
                                <input type="checkbox" class="form-check-input newsletter-checkbox" id="newsletter-terms" required>
                                <label class="form-check-label newsletter-checkbox-label" for="newsletter-terms">{{ settings.home.Newsletter.newsletter_terms }}</label>
                            </div>
                            <div id="newsletter-success-message" class="pt-2">{{ settings.home.Newsletter.newsletter_success }}</div>
                            <div id="newsletter-error-message" class="pt-2">{{ settings.home.Newsletter.newsletter_failure }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
