{% extends "home/base_page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="container-fluid">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-lg-10 offset-lg-1 text-center text-lg-start">
                <h2>
                    {{ page.title }}
                </h2>
                <p>
                    {{ page.description }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid h-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                {% for block in page.body %}
                <div class="row mb-5">
                    {% include_block block %}
                </div>
                {% endfor %}
                <div class="row mb-5">
                    <div class="col unsubscribe" style="text-align: center;">
                        <button disabled class="btn subscription">Nalagamo tvoje nastavitve ...</button>
                    </div>
                    <div class="col manage">
                        <div class="footer-col">
                            <h5>Nisi prijavljen_a na e-novičnik. Če želiš, se nanj lahko prijaviš spodaj.</h5>
                            <div class="position-relative go-input mt-3 mb-2">
                                <input type="email" name="email" required class="form-control" id="managed-email">
                                <button id="submit-managed-email" class="input-btn btn-primary">
                                    Prijavi me
                                </button>
                                <div class="checkbox d-flex align-items-center my-3">
                                    <label class="confirm-label" style="line-height: 1; padding-left: 25px; font-size: 0.88rem;">
                                        <input type="checkbox" id="confirm-managed-email" />
                                        <span class="custom-checkbox"></span>
                                        {{ settings.home.MetaSettings.newsletter_consent }}
                                        Vsebina zraven checkboxa
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
