{% load wagtailcore_tags static %}

<div class="square square-dark-purple">
    <div class="my-4">
      <h3>{{ settings.home.Newsletter.newsletter_title_part_one }}</h3>
      <h3>{{ settings.home.Newsletter.newsletter_title_part_two }}</h3>
    </div>
    <form id="newsletter-form" class="m-lg-5">
      <div class="form-group">
        <input type="email" class="form-control" id="newsletter-email" required>
      </div>
      <div class="form-group form-check p-0">
        <input type="checkbox" class="form-check-input newsletter-checkbox" id="newsletter-terms" required>
        <label class="form-check-label newsletter-checkbox-label" for="newsletter-terms">{{ settings.home.Newsletter.newsletter_terms }}</label>
      </div>
      <button type="submit" id="newsletter-btn" class="btn mt-2">Prijavi se >>></button>
      <div id="newsletter-success-message" class="pt-2">{{ settings.home.Newsletter.newsletter_success }}</div>
      <div id="newsletter-error-message" class="pt-2">{{ settings.home.Newsletter.newsletter_failure }}</div>
    </form>
  </div>