{% load wagtailcore_tags static %}

<div class="square square-dark-purple">
    <div class="my-4">
      <h3>{{ settings.home.SocialMedia.social_media_title_part_one }}</h3>
      <h3>{{ settings.home.SocialMedia.social_media_title_part_two }}</h3>
    </div>
    <div class="d-flex justify-content-center">
      <a href="{{ settings.home.SocialMedia.facebook_link }}" target="_blank" class="social-media d-flex justify-content-center align-items-center">
          <img src="{% static 'img/social-facebook.png' %}" />
      </a>
      <a href="{{ settings.home.SocialMedia.twitter_link }}" target="_blank" class="social-media d-flex justify-content-center align-items-center">
          <img src="{% static 'img/social-twitter.png' %}" />
      </a>
    </div>
</div>